<!DOCTYPE html>
<html lang="en" class="bg-gray-900 text-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quanterminal</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex flex-col h-screen overflow-y-auto">
        <!-- Main Body -->
        <div class="flex flex-1">
            <!-- Sidebar -->
            <!-- Hamburger Button -->
            <button
                id="hamburgerBtn"
                class="lg:hidden fixed top-4 left-4 z-50 bg-gray-800 text-white p-2 rounded focus:outline-none"
            >
                &#9776;
            </button>

            <!-- Sidebar -->
            <aside
                id="sidebar"
                class="w-64 h-screen bg-[#1e1e1e] border-r border-gray-700 p-4 fixed top-0 left-0 overflow-y-auto z-40 transform -translate-x-full lg:translate-x-0 transition-transform duration-300 pt-14 lg:pt-4"
            >
                <nav class="space-y-4">
                    <h1 class="text-2xl pt-2 lg:pt-0 font-bold text-yellow-400">
                        Quantum Terminal
                    </h1>

                    <!-- Market -->
                    <div>
                        <p class="text-sm uppercase text-yellow-400 mb-1">
                            Real-time Market
                        </p>
                        <a
                            href="/"
                            class="block text-white hover:text-yellow-400"
                            >Live Trading Market</a
                        >
                    </div>

                    <!-- Tools -->
                    <div>
                        <p class="text-sm uppercase text-yellow-400 mt-4 mb-1">
                            Tools
                        </p>
                        <a href="/analysis" class="block hover:text-yellow-400"
                            >Analysis</a
                        >
                        <a href="/backtest" class="block hover:text-yellow-400"
                            >Backtest</a
                        >
                        <a href="/logs" class="block hover:text-yellow-400"
                            >Logs</a
                        >
                        <a href="/automate" class="block hover:text-yellow-400"
                            >Automation</a
                        >
                        <a href="/settings" class="block hover:text-yellow-400"
                            >Settings</a
                        >
                    </div>

                    <!-- BTC Summary -->
                    <div
                        class="text-white p-4 shadow-md w-full text-sm mb-4"
                    >
                        <Details>
                            <summary class="cursor-pointer">
                                <span class="text-yellow-400 font-bold">
                                    BTC Summary
                                </span>
                            </summary>
                            <ul class="pl-3 cursor-pointer">
                                <li class="hover:text-yellow-400">BTCUSD</li>
                                <li class="hover:text-yellow-400">XAUUSD</li>
                                <li class="hover:text-yellow-400">ETHUSD</li>
                            </ul>
                        </Details>
                        <table
                            class="w-full text-left leading-6"
                        >
                            <tr>
                                <td>Volatility (7D):</td>
                                <td class="text-yellow-400">
                                    {{ summary.volatility }}
                                </td>
                            </tr>
                            <tr>
                                <td>Sharpe Ratio:</td>
                                <td class="text-yellow-400">
                                    {{ summary.sharpe }}
                                </td>
                            </tr>
                            <tr>
                                <td>Latest Return (%):</td>
                                <td class="text-yellow-400">
                                    {{ summary.return }}%
                                </td>
                            </tr>
                            <tr>
                                <td>Volume:</td>
                                <td class="text-yellow-400">
                                    {{ "{:,}".format(summary.volume) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Trend (1m):</td>
                                <td
                                    class="{% if summary.trend_1m == 'Bullish' %}text-green-400{% elif summary.trend_1m == 'Bearish' %}text-red-400{% else %}text-yellow-400{% endif %}"
                                >
                                    {{ summary.trend_1m }}
                                </td>
                            </tr>
                            <tr>
                                <td>Trend (5m):</td>
                                <td
                                    class="{% if summary.trend_5m == 'Bullish' %}text-green-400{% elif summary.trend_5m == 'Bearish' %}text-red-400{% else %}text-yellow-400{% endif %}"
                                >
                                    {{ summary.trend_5m }}
                                </td>
                            </tr>
                            <tr>
                                <td>Trend (15m):</td>
                                <td
                                    class="{% if summary.trend_15m == 'Bullish' %}text-green-400{% elif summary.trend_15m == 'Bearish' %}text-red-400{% else %}text-yellow-400{% endif %}"
                                >
                                    {{ summary.trend_15m }}
                                </td>
                            </tr>
                            <tr>
                                <td>RSI (14D):</td>
                                <td class="text-yellow-400">
                                    {{ summary.rsi }}
                                </td>
                            </tr>
                            <tr>
                                <td>MACD:</td>
                                <td class="text-yellow-400">
                                    {{ summary.macd }}
                                </td>
                            </tr>
                            <tr>
                                <td>Signal:</td>
                                <td class="text-yellow-400">
                                    {{ summary.macd_signal }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </nav>
            </aside>

            <!-- JS Script to Toggle Sidebar -->
            <script>
                const hamburgerBtn = document.getElementById("hamburgerBtn");
                const sidebar = document.getElementById("sidebar");

                hamburgerBtn.addEventListener("click", () => {
                    sidebar.classList.toggle("-translate-x-full");
                });
            </script>

            <!-- Main Content -->
            <main
                class="mt-10 lg:mt-0 lg:ml-64 flex-1 overflow-y-auto px-6 py-6 pb-20 bg-[#1e1e1e]"
            >
                {% block content %}
                <!-- Your dynamic content goes here -->
                {% endblock %}
            </main>
        </div>

        <!-- Footer -->
        <footer
            class="fixed italic bottom-0 left-0 right-0 h-10 bg-gray-800 border-t border-gray-700 flex items-center justify-center text-sm text-gray-400 z-40 text-center p-4 lg:p-0"
        >
            © 2025 Quant Terminal. Designed by Sameer Kulkarni & Nirav Gohil.
        </footer>
    </body>
</html>
