{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dog Meme</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background-color: #000;
    }
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGw5am1zbzdmZGs4dXN5b2ZpeG42ZDIyeG11ZjhpeWVheTh5Mm9vaSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/1iTItUOuJLsbev28/giphy.gif" alt="Dog Meme">
</body>
</html>
{% endblock %}